<h2>Filter and categorise messages</h2>

<% form_tag(filter_messages_path) do %>
  <p>
    Keyword: <%= text_field_tag :keyword, params[:keyword] %>
  </p>

  <p>
    Count: <%= text_field_tag :count, (params[:count] || 100) %>
  </p>
  

  <%= submit_tag "Filter and classify" %>
  <div>
  
  <% @categories.each do |category| %>
    <% messages = @messages_by_category[category] %>
  	<div class="<%= category.name.downcase %> category">
  		<h2><%= category.name %>: <%= messages.count %></h2>
  		<ul class="messages">
  			<% messages.each do |message| %>
  				<li>
  				  <%= auto_link(message.text) %>
  				  <% if message.category %>
  				  <em>Human says: <%= message.category.name %></em>
  				  <% end %>
  				</li>
  			<% end %>
  		</ul>
  	</div>
  <% end if @categories.present? %>
  
<% end %>