<%= button_to "Go into training mode", classify_messages_path, :method => :get, :id => "training_mode" %>
<% @categories.each do |category| %>
	<div class="<%= category.name.downcase %> category">
		<h2><%= category.name %>: <%= category.messages.count %></h2>
		<ul class="messages">
			<% category.messages.each do |message| %>
				<li>
				  <%= auto_link(message.text) %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>